{% extends 'home/base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<section>
    <button class="btn" id="download_btn">Download</button>
</section>
<section>
    <form action="/download/" method="post" id="downFrm"hidden>
        {% csrf_token %}
        <input type="hidden" name="path" id= "path" value="">
    </form>
</section>
<button onclick="window.history.go(-2)">Back</button>
<button onclick="window.history.forward()">forword</button>
{% endblock body %}
{% block JS %}
<script>
    
    $("document").ready( function() {
        const urlParams = new URLSearchParams(window.location.search);
        fn = urlParams.get('fn');
        $("#path").val(fn)
        
        localStorage.setItem('blkd', 'false');

        setTimeout(function(){
            document.getElementById("downFrm").submit()
        }, 1000)
    })
    $("#download_btn").click( function() {
        setTimeout(function(){
            document.getElementById("downFrm").submit()
        }, 1000)
    })
</script>

{% endblock JS %}