{% extends 'home/base.html' %}

{% block body %}
<section class="uploadHome">
    <div class="text">
        <h2>PDF to TEXT</h2>
        <p>Convert PDF file to Text file.</p>
    </div>
    <form method="POST" enctype="multipart/form-data" id="form" action="/pdf_to_txt/">
        {% csrf_token %}
        <div class="frm-item">
            <input type="file" name="file" id="inpfile" required accept=".pdf">
            <label for="inpfile">Choose a file</label>
        </div> 
        
    </form>
</section>

{% endblock body %}

{% block JS %}
<script>
    window.addEventListener("load", (event) =>{
        $("#inpfile").val("")   
    })
    $('document').ready(function(){ 
        $("#inpfile").val("")  

        setTimeout( function() {
            dlt_upload_file()
        },2000)
    })
    
    document.getElementById("inpfile").onchange = function() {
        document.getElementById("form").submit()
    }
</script>
{% endblock JS %}

